.whole-page {
  font-family: "Sono", sans-serif;
  padding: 40px;
}

.weather-app-widget {
  max-width: 600px;
  padding: 20px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: rgba(234, 135, 168, 60%);
}

.current-weather-section {
  padding: 20px;
  margin: 0 auto;
}

.current-temperature {
  font-size: 50px;
}

.main-icon {
  width: 150px;
}
h1 {
  font-size: 40px;
}

sup {
  top: -2em;
  margin: -4px;
}

.weather-description {
  text-transform: capitalize;
  font-style: italic;
}

.weather-extra-data {
  text-align: right;
  padding: 50px 0px;
}
.forecast-section {
  padding: 20px;
}

.search-engine {
  max-width: 600px;
  padding: 20px 0px 20px 0px;
  margin: 0 auto;
}

small {
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.active {
  color: black;
  cursor: default;
}

.active:hover {
  text-decoration: none;
}
