.whole-page {
  font-family: "Sono", sans-serif;
  padding: 40px;
}

.weather-app-widget {
  max-width: 600px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: rgba(234, 135, 168, 60%);
}

.current-weather-section {
  padding: 20px;
  margin: 0 auto;
}

.current-temperature {
  font-size: 40px;
}

h1 {
  font-size: 40px;
}

sup {
  top: -1.25em;
  margin: -4px;
}

.weather-description {
  text-transform: capitalize;
}

.forecast-section {
  padding: 20px;
}

.search-engine {
  max-width: 600px;
  padding: 20px 0px 20px 0px;
  margin: 0 auto;
}

small {
  max-width: 600px;
  display: block;
  margin: 0 auto;
}
